@model bai3_TH.Models.Category
<style>
    body {
        background-color:darksalmon
    }</style>
<h2>@Model.Name</h2>

<div>
    <p>ID:  @Model.Id</p>
    <p>Name: @Model.Name</p>
    
</div>

<a asp-action="Index">Back to List</a>


